<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.PostgresMapper">
	<select id="findSimilarRecipes" resultType="hashmap"> 
		SELECT id, recipe_id, content, 
		 (embedding &lt;=> CAST(#{embedding} AS vector)) AS distance, 
		 ( 1 - (embedding &lt;=> CAST(#{embedding} AS vector)) ) AS similarity 
		FROM recipe_vector  ORDER BY embedding 
		&lt;=> CAST(#{embedding} AS vector) 
		LIMIT #{limit} 
	  </select>
</mapper>